<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">

    <title>CQFS</title>
    <script>
        function hideShowDiv(id) {
            $('#' + id).toggle('slow');
        }
    </script>


</head>

<body class="body_main">

<nav class="title_bar navbar navbar-expand-sm ">
    <a class="navbar-brand" style="color:black; font-weight:bold;" href="#">CQFS</a>
    <div class="dropdown offset-md-11 ">
        <button type="button" class="btn" data-toggle="dropdown" style="outline-style: none;">
            <img src="{% static 'icons/svg/grid-two-up.svg' %}" class="content_group_icon"
                 style="padding: 0; margin: 0;">
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/" style="color: rgba(0, 0, 0, 0.54);">Logout</a>
        </div>
    </div>
</nav>

<div class=" content_box">
    <div class="row">
        <div class="col-md-7 mx-auto content_group_header">
            <h1>My account info</h1>
        </div>
    </div>

    <!-- Content group START-->
    <div class="row content_group">

        <!-- Content group header-->
        <div class="col-md-7 mx-auto content_group_header_element">
            <div class="row">

                <!-- Content group element data field-->
                <div class="col-md-5 ">
                    <div class="row">
                        <div class="col-md-1">

                            <!--Icon -->
                            <img src="{% static 'icons/svg/justify-left.svg' %}" class="content_group_icon">
                        </div>

                        <!-- Text -->
                        <div class="col-md-10 content_group_icon_title">
                            <h4>Survey answers</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-7 mx-auto content_group_element zoom">
            <div class="row">
                {% if response.surveys_template %}
                    <div class="col-md-2 content_group_element_header">
                        Templates
                    </div>
                {% endif %}
                <!-- Content group element data field-->
                <div class="col-md-5 content_group_element_data">
                    {% if response.surveys_template %}
                        {% for i in response.surveys_template %}
                            <div class="col-md-5 content_group_element_data"
                                 onclick=hideShowDiv({{ i.id }})> {{ i.survey_name }}
                                <div id={{ i.id }} style="display:none;">
                                    {{ i.json }}
                                </div>
                            </div>
                            <br/>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Content group element-->
        <div class="col-md-7 mx-auto content_group_element zoom">
            <div class="row">
                {% if response.surveys_answer %}
                    <!-- Content group element header-->
                    <div class="col-md-2 content_group_element_header">
                        Answers
                    </div>
                {% endif %}

                <!-- Content group element data field-->
                <div class="col-md-5 content_group_element_data">
                    {% if response.surveys_answer %}
                        {% for i in response.surveys_answer %}
                            <div class="col-md-5 content_group_element_data"
                                 onclick=hideShowDiv(1000{{ i.id }})>
                                {{ i.survey_name }}
                                <div id=1000{{ i.id }} style="display:none;">
                                    {{ i.json }}
                                </div>
                            </div>
                            <br/>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Content group END-->


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
